@using Microsoft.AspNet.Identity.EntityFramework
@model List<Stupid_Authenticating_Web_App.Models.UserItemViewModel>

@{
    ViewBag.Title = "List Of Users";
    ViewBag.Social = "Social Network";
}

<h2></h2>

<style type="text/css">
    table th {background-color: lightblue;}
    .hover_Row {
        background-color: #F0FFFF;
    }
    .clicked_Row {
        background-color: #E6E6FA;
    }

    TABLE {
        width: 200px; 
        border-collapse: collapse; 
        border-spacing: 7px 11px;
    }
    TD, TH {
        padding: 3px; 
        border: 1px solid white;
    }
    TH {
        background: white;
    }
</style>

<p><input type="button" class="btn btn-default" value="Change" id="edit">
    <input type="button" class="btn btn-danger" value="Delete" onClick="del()" id="delete"></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<table class="table table-bordered" id="color_table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
            EmailConfirmed
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr class="user-table__buttons">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)    
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript">
        function highlight_Table_Rows(tableId, hoverClass, clickClass, multiple) {
            var table = document.getElementById(tableId);
            if (typeof multiple == 'undefined') multiple = true;

            if (hoverClass) {
                var hoverClassReg = new RegExp("\\b" + hoverClass + "\\b");
                table.onmouseover = table.onmouseout = function(e) {
                    if (!e) e = window.event;
                    var elem = e.target || e.srcElement;
                    while (!elem.tagName || !elem.tagName.match(/td|th|table/i))
                        elem = elem.parentNode;

                    if (elem.parentNode.tagName == 'TR' &&
                        elem.parentNode.parentNode.tagName == 'TBODY') {
                        var row = elem.parentNode;
                        if (!row.getAttribute('clicked_Row'))
                            row.className = e.type == "mouseover"
                                ? row.className +
                                " " +
                                hoverClass
                                : row.className.replace(hoverClassReg, " ");
                    }
                };
            }

            if (clickClass)
                table.onclick = function(e) {
                    if (!e) e = window.event;
                    var elem = e.target || e.srcElement;
                    while (!elem.tagName || !elem.tagName.match(/td|th|table/i))
                        elem = elem.parentNode;

                    if (elem.parentNode.tagName == 'TR' &&
                        elem.parentNode.parentNode.tagName == 'TBODY') {
                        var clickClassReg = new RegExp("\\b" + clickClass + "\\b");
                        var row = elem.parentNode;

                        if (row.getAttribute('clicked_Row')) {
                            row.removeAttribute('clicked_Row');
                            row.className = row.className.replace(clickClassReg, "");
                            row.className += " " + hoverClass;
                        } else {
                            if (hoverClass) row.className = row.className.replace(hoverClassReg, "");
                            row.className += " " + clickClass;
                            row.setAttribute('clicked_Row', true);

                            if (!multiple) {
                                var lastRowI = table.getAttribute("last_Clicked_Row");
                                if (lastRowI !== null && lastRowI !== '' && row.sectionRowIndex != lastRowI) {
                                    var lastRow = table.tBodies[0].rows[lastRowI];
                                    lastRow.className = lastRow.className.replace(clickClassReg, "");
                                    lastRow.removeAttribute('clicked_Row');
                                }
                            }
                            table.setAttribute("last_Clicked_Row", row.sectionRowIndex);
                        }
                    }
                };
        }
    </script>
    <script type="text/javascript">
        $('td').on('click',
            function() {
                var cellIndex = this.cellIndex;
                var rowIndex = this.rowIndex;
                var row = $(this).parent().parent().parent().html();
                alert(document.getElementById("color_table").rows[row].cells[0].innerHTML);
            })
    </script>
    <script type="text/javascript">
        highlight_Table_Rows("color_table", "hover_Row", "clicked_Row");
    </script>
    <script>
        $('tr').click(function() {
            if ($(this).hasClass('selected')) $(this).removeClass('selected');
            else $(this).addClass('selected');
        });
    </script>
    <script>
        $('#delete').click(function() {
            $('.selected').children().each(function() {
                var email = $(this).html();
                location.href = '@Url.Action("Delete", "Account")?name=' + email;
                return false;
            });
        });
    </script>
    <script>
        $('#edit').click(function() {
            $('.selected').children().each(function() {
                var email = $(this).html();
                location.href = '@Url.Action("Edit", "Account")?name=' + email;
                return false;
            });
        });
    </script>
}